<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

-   Collect exchange rate data using an API
-   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!pip install pandas
#!pip install requests

## Imports

Import any additional libraries you may need here.

In [5]:
import requests
import pandas as pd
from datetime import datetime
import glob

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data. 

1.  Open the url : [https://api.exchangeratesapi.io/](https://api.exchangeratesapi.io?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ) and create a free account. 
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

 <b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [87]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=99d8b39140819e5e9c447c346b874b9d"  #Make sure to change ******* to your API key.

In [88]:
url

'http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=99d8b39140819e5e9c447c346b874b9d'

### Save as DataFrame

 <b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [1]:
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
!wget https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv

--2021-08-17 07:01:06--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_1.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 2815 (2.7K) [application/json]
Saving to: ‘bank_market_cap_1.json’

bank_market_cap_1.j 100%[===================>]   2.75K  --.-KB/s    in 0s

2021-08-17 07:01:06 (72.2 MB/s) - ‘bank_market_cap_1.json’ saved [2815/2815]

--2021-08-17 07:01:06--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Lab%20-%20Extract%20Transform%20Load/data/bank_market_cap_2.json
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1429 (1.4K) [application/json]
Saving to: ‘bank_market_cap_2.json’

bank_market_cap_2.j 100%[===================>]   1.40K  --.-KB/s    in 0s

2021-08-17 07:01:06 (47.6 MB/s) - ‘bank_market_cap_2.json’ saved [1429/1429]

--2021-08-17 07:01:07--  https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/exchange_rates.csv
Resolving cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)... 169.63.118.104
Connecting to cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud (cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud)|169.63.118.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 590 [text/csv]
Saving to: ‘exchange_rates.csv’

exchange_rates.csv  100%[===================>]     590  --.-KB/s    in 0s

2021-08-17 07:01:07 (21.5 MB/s) - ‘exchange_rates.csv’ saved [590/590]

In [89]:
r = requests.get(url)
print (r.json())

{'success': True, 'timestamp': 1629130624, 'base': 'EUR', 'date': '2021-08-16', 'rates': {'AED': 4.325913, 'AFN': 95.213358, 'ALL': 121.393283, 'AMD': 580.039184, 'ANG': 2.113986, 'AOA': 751.27043, 'ARS': 114.259554, 'AUD': 1.605065, 'AWG': 2.120149, 'AZN': 2.004829, 'BAM': 1.955078, 'BBD': 2.377885, 'BDT': 99.950235, 'BGN': 1.955201, 'BHD': 0.444095, 'BIF': 2335.35127, 'BMD': 1.177697, 'BND': 1.596686, 'BOB': 8.131971, 'BRL': 6.170308, 'BSD': 1.177647, 'BTC': 2.533543e-05, 'BTN': 87.356682, 'BWP': 13.099959, 'BYN': 2.933371, 'BYR': 23082.856857, 'BZD': 2.373886, 'CAD': 1.480777, 'CDF': 2358.926347, 'CHF': 1.07439, 'CLF': 0.033548, 'CLP': 925.399105, 'CNY': 7.625229, 'COP': 4533.060893, 'CRC': 731.678423, 'CUC': 1.177697, 'CUP': 31.208965, 'CVE': 110.222582, 'CZK': 25.424167, 'DJF': 209.659315, 'DKK': 7.436378, 'DOP': 67.09318, 'DZD': 159.267755, 'EGP': 18.479591, 'ERN': 17.67112, 'ETB': 53.132353, 'EUR': 1, 'FJD': 2.446429, 'FKP': 0.851007, 'GBP': 0.850338, 'GEL': 3.633221, 'GGP': 0.851007, 'GHS': 7.083774, 'GIP': 0.851007, 'GMD': 60.239115, 'GNF': 11498.974766, 'GTQ': 9.12119, 'GYD': 246.385182, 'HKD': 9.167957, 'HNL': 27.970236, 'HRK': 7.49674, 'HTG': 112.493708, 'HUF': 351.371741, 'IDR': 16929.39119, 'ILS': 3.801075, 'IMP': 0.851007, 'INR': 87.355535, 'IQD': 1718.248754, 'IRR': 49586.922611, 'ISK': 148.413146, 'JEP': 0.851007, 'JMD': 182.111917, 'JOD': 0.835044, 'JPY': 128.672767, 'KES': 128.834336, 'KGS': 99.796965, 'KHR': 4793.755184, 'KMF': 489.980445, 'KPW': 1059.927299, 'KRW': 1374.31328, 'KWD': 0.353901, 'KYD': 0.981422, 'KZT': 500.927225, 'LAK': 11288.155897, 'LBP': 1780.914638, 'LKR': 234.948483, 'LRD': 202.122227, 'LSL': 17.200209, 'LTL': 3.477432, 'LVL': 0.712378, 'LYD': 5.320153, 'MAD': 10.554438, 'MDL': 20.668446, 'MGA': 4600.929391, 'MKD': 61.591297, 'MMK': 1938.472504, 'MNT': 3357.497092, 'MOP': 9.442866, 'MRO': 420.437547, 'MUR': 49.989252, 'MVR': 18.206691, 'MWK': 957.388561, 'MXN': 23.423918, 'MYR': 4.990494, 'MZN': 74.995626, 'NAD': 16.923264, 'NGN': 484.916424, 'NIO': 41.354085, 'NOK': 10.398238, 'NPR': 139.770211, 'NZD': 1.676935, 'OMR': 0.453353, 'PAB': 1.177747, 'PEN': 4.802652, 'PGK': 4.135109, 'PHP': 59.619769, 'PKR': 193.788323, 'PLN': 4.559959, 'PYG': 8157.560667, 'QAR': 4.288022, 'RON': 4.917239, 'RSD': 117.534768, 'RUB': 86.265467, 'RWF': 1187.153139, 'SAR': 4.416969, 'SBD': 9.482359, 'SCR': 15.567331, 'SDG': 525.84201, 'SEK': 10.188832, 'SGD': 1.596252, 'SHP': 0.851007, 'SLL': 12071.391659, 'SOS': 688.952295, 'SRD': 25.275717, 'STD': 24375.945553, 'SVC': 10.305034, 'SYP': 1481.040815, 'SZL': 17.368516, 'THB': 39.343572, 'TJS': 13.431531, 'TMT': 4.121939, 'TND': 3.269871, 'TOP': 2.657591, 'TRY': 9.97349, 'TTD': 7.993724, 'TWD': 32.765286, 'TZS': 2731.05884, 'UAH': 31.402615, 'UGX': 4163.097885, 'USD': 1.177697, 'UYU': 51.064349, 'UZS': 12581.228275, 'VEF': 251827163974.34137, 'VND': 26892.705935, 'VUV': 130.591176, 'WST': 3.015804, 'XAF': 655.70466, 'XAG': 0.049487, 'XAU': 0.000659, 'XCD': 3.182785, 'XDR': 0.829081, 'XOF': 655.70466, 'XPF': 119.242145, 'YER': 294.42383, 'ZAR': 17.424318, 'ZMK': 10600.74719, 'ZMW': 22.376089, 'ZWL': 379.217883}}

# EXTRACT

In [18]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe
columns=['Name','Market Cap (US$ Billion)']
def extract():
    # Write your code here
    extracted_data=pd.DataFrame(columns=['Name','Market Cap (US$ Billion)'])
    for jsonfile in glob.glob("*.json"):
        extracted_data=extracted_data.append(extract_from_json(jsonfile),ignore_index=True)
    extracted_data=extracted_data.sort_values(by=["Market Cap (US$ Billion)"],ascending=False).reset_index()
    extracted_data.drop(['index'],axis=1,inplace=True)
    return extracted_data

In [19]:
database = extract()

In [20]:
database.head()

                                      Name  Market Cap (US$ Billion)
0                           JPMorgan Chase                   390.934
1  Industrial and Commercial Bank of China                   345.214
2                          Bank of America                   325.331
3                              Wells Fargo                   308.013
4                  China Construction Bank                   257.399

Question1

In [21]:
# Write your code here
rates = pd.read_csv("exchange_rates.csv",index_col=0)
exchange_rate = float(rates.at["GBP","Rates"])
exchange_rate

0.7323984208000001

# Transform
In the exchange_rates.csv file find the exchange rate of USD to GBP.
- Changes the Market Cap US_Billion column from USD to GBP
- Rounds the Market Cap US_Billion column to 3 decimal places
- Rename Market Cap US_Billion to Market Cap GBP_Billion)

In [22]:
def transform(data,exchange_rate):
    # Write your code here
    data["Market Cap (US$ Billion)"] = round(data["Market Cap (US$ Billion)"]*exchange_rate,3)
    data.rename(columns={"Market Cap (US$ Billion)":"Market Cap (GBP$ Billion)"},inplace=True)
    return database

In [23]:
database_transform = transform(database,exchange_rate)

In [24]:
database_transform.head()

                                      Name  Market Cap (GBP$ Billion)
0                           JPMorgan Chase                    286.319
1  Industrial and Commercial Bank of China                    252.834
2                          Bank of America                    238.272
3                              Wells Fargo                    225.588
4                  China Construction Bank                    188.519

# Load Database

In [25]:
def load(filenamewhichyouwanansave,database):
    database.to_csv(filenamewhichyouwanansave)

In [26]:
load('database_test.csv',database)

# Log

In [27]:
def log(message):
    # Write your code here
    timestamp_format = '%Y-%h-%d-%H:%M:%S'
    now = datetime.now()
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message +'\n')

#### ETL LOG

In [28]:
# Write your code here
log("Extract Job Started")
database_extract = extract()
log("Extract phase Ended")

#### TRANSFORM LOG

In [30]:
# Write your code here
log("Transform Job Started")
database = extract()
database_transform = transform(database,exchange_rate)
log("Transform phase Ended")

#### LOAD LOG

In [31]:
log("Load phase Started")
database = database_transform
load('database_test.csv',database)
log("Load phase Ended")

In [7]:
import json
hist_rates = json.loads(r.text)
database = pd.DataFrame(hist_rates)
database.head()

NameError: name 'r' is not defined

In [118]:
def load(targetfile,data_to_load):
    data_to_load.to_csv(targetfile)

In [119]:
load('exchange_rates_1.csv',database)

In [120]:
# Add the CSV extract function below
def extract_from_csv(file_to_process):
    dataframe = pd.read_csv(file_to_process)
    return dataframe

In [121]:
database=extract_from_csv('exchange_rates_1.csv')

In [123]:
database.head()

  Unnamed: 0  success   timestamp base        date       rates
0        AED     True  1629130624  EUR  2021-08-16    4.325913
1        AFN     True  1629130624  EUR  2021-08-16   95.213358
2        ALL     True  1629130624  EUR  2021-08-16  121.393283
3        AMD     True  1629130624  EUR  2021-08-16  580.039184
4        ANG     True  1629130624  EUR  2021-08-16    2.113986

In [124]:
def transform(data,col):
    data[col]= round(data[col], 2)
    return data

In [125]:
transform(database,'rates')
database.head()

  Unnamed: 0  success   timestamp base        date   rates
0        AED     True  1629130624  EUR  2021-08-16    4.33
1        AFN     True  1629130624  EUR  2021-08-16   95.21
2        ALL     True  1629130624  EUR  2021-08-16  121.39
3        AMD     True  1629130624  EUR  2021-08-16  580.04
4        ANG     True  1629130624  EUR  2021-08-16    2.11

In [106]:
database

    Unnamed: 0  success   timestamp base        date     rates
0          AED     True  1629130624  EUR  2021-08-16      4.33
1          AFN     True  1629130624  EUR  2021-08-16     95.21
2          ALL     True  1629130624  EUR  2021-08-16    121.39
3          AMD     True  1629130624  EUR  2021-08-16    580.04
4          ANG     True  1629130624  EUR  2021-08-16      2.11
..         ...      ...         ...  ...         ...       ...
163        YER     True  1629130624  EUR  2021-08-16    294.42
164        ZAR     True  1629130624  EUR  2021-08-16     17.42
165        ZMK     True  1629130624  EUR  2021-08-16  10600.75
166        ZMW     True  1629130624  EUR  2021-08-16     22.38
167        ZWL     True  1629130624  EUR  2021-08-16    379.22

[168 rows x 6 columns]

In [110]:
# Add the log function below
def log(message):
    timestamp_format = '%H:%M:%S-%h-%d-%Y' #Hour-Minute-Second-MonthName-Day-Year
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("dealership_logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')

In [111]:
log("Extract phase Started")
extract_from_csv('exchange_rates_1.csv')
log("Extract phase Ended")

In [ ]:
log("Transform phase Started")
transform(database,'rates')
log("Transform phase Ended")

In [ ]:
log("Load phase Started")
load('exchange_rates_1.csv',database)
log("Load phase Ended")

In [67]:
# Drop unnescessary columns
database = database.drop(columns = ['success','timestamp','base','date'])

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [68]:
# Save the Dataframe
database.to_csv('exchange_rates_1.csv')

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

In [76]:
database.reset_index()

    index         rates
0     AED      4.326987
1     AFN     95.236912
2     ALL    121.423313
3     AMD    580.183020
4     ANG      2.114509
..    ...           ...
163   YER    294.497338
164   ZAR     17.409310
165   ZMK  10603.314583
166   ZMW     22.381624
167   ZWL    379.311693

[168 rows x 2 columns]

In [82]:
database['new'] = database.index

In [83]:
database

            rates  new
AED      4.326987  AED
AFN     95.236912  AFN
ALL    121.423313  ALL
AMD    580.183020  AMD
ANG      2.114509  ANG
..            ...  ...
YER    294.497338  YER
ZAR     17.409310  ZAR
ZMK  10603.314583  ZMK
ZMW     22.381624  ZMW
ZWL    379.311693  ZWL

[168 rows x 2 columns]

In [84]:
database[database['new'] == 'GBP']

        rates  new
GBP  0.851314  GBP

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork-23455645&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).